.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // width: 100%;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.content-space-between {
    justify-content: space-between;
}

.content-space-around {
    justify-content: space-around;
}

.items-flex-start {
    align-items: flex-start
}