.button {
  padding: 1.5rem 4rem;
  background-color: $colorSecondary;
  color: $colorTertiary;
  box-sizing: inherit;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3rem 0;

  .icon {
    margin-left: 1rem;
    transition: all 0.5s;
  }

  &:hover {
    box-shadow: 0 3px 5px 1px gray;
    transform: translateY(-15px);
    .icon {
      transform: rotate(90deg);
    }
  }
  &:active {
    box-shadow: 0 1px 3px 1px gray;
    transform: translateY(-2px);
  }
}

.submit {
  cursor: pointer;
  padding: 1.5rem 4rem;
  margin: 3rem 0;
  background-color: transparent;
  border: 2px solid $colorTertiary;
  color: $colorTertiary;
  text-transform: uppercase;
  // box-sizing: inherit;
  transition: all 0.5s;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $colorSecondary;
    border: 2px solid $colorSecondary;
  }

  &:disabled {
    pointer-events: none;
    border: 2px solid $colorPrimaryLight;
    color: $colorPrimaryLight;
  }
}
