$size: 45px;
$half: $size / 2;

.float-button {
  height: $size;
  width: $size;
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 10;

  & > div {
    position: relative;
  }

  .top-half {
    height: $half;
    width: $size;
    background-color: $colorTertiary;
    border-top-left-radius: $size * 2;
    border-top-right-radius: $size * 2;
    cursor: pointer;
  }

  .bottom-half {
    height: $half;
    width: $size;
    background-color: $colorTertiary;
    border-bottom-left-radius: $size * 2;
    border-bottom-right-radius: $size * 2;
    cursor: pointer;
  }

  .float-button-icon {
    position: absolute;
    position: absolute;
    top: 14px;
    left: 10px;
    cursor: pointer;

    .float-button--bar {
      height: 3px;
      width: 25px;
      background-color: $colorPrimary;
      border-radius: 50px;
      transition: all .5s ease-out;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .top-bar-transform {
      transform: translateY(7px) rotate(45deg);
    }
    .middle-bar-transform {
      display: none;
    }
    .bottom-bar-transform {
      transform: rotate(135deg);
    }
  }

  .menu {
    width: $size;
    background-color: $colorTertiary;
    transition: all 0.5s ease-out;
  }
  .closed {
    height: 0;
  }
  .open {
    height: 200px;
    padding-top: 3rem;
  }
  .menuOpenOverflow {
    overflow: visible;
  }
  .menuClosedOverflow {
    overflow: hidden;
  }
}
