.underLine {
    height: 5px;
    width: 12vw;
    margin-bottom: 10rem;
    margin-top: 1rem;

    div {
        height: 100%;
        width: 50%;
        background-color: $colorPrimaryLight;
    }
}

//breakPoints
@include respond-to('extraSmall') {
    .underLine {
        height: 5px;
        width: 25vw;
        margin-bottom: 10rem;
        margin-top: 1rem;
    }
}

@include respond-to('small') {
    .underLine {
        height: 5px;
        width: 20vw;
        margin-bottom: 10rem;
        margin-top: 1rem;
    }
}

@include respond-to('medium') {
    .underLine {
        height: 5px;
        width: 20vw;
        margin-bottom: 10rem;
        margin-top: 1rem;
    }
}

@include respond-to('large') {
    .underLine {
        height: 5px;
        width: 15vw;
        margin-bottom: 10rem;
        margin-top: 1rem;
    }
}