.about {
  background-color: $colorTertiary;
  color: $colorPrimaryLight;
  transition: all 0.5s ease-out;

  .performance--container {
    margin-bottom: 10rem;

    .performance {
      width: 50%;
      font-size: 2rem;

      .text {
        padding: 0 2rem;
      }
    }

    // .performance__active {
    //   background-color: 
    // }
  }

  .profile {
    width: 45%;
    margin-bottom: 5rem;
    .octagon {
      height: 25rem;
      width: 25rem;
      margin-bottom: 3rem;
    }
  }
  .skills {
    width: 45%;
    margin-bottom: 5rem;
  }
}

//breakPoints
@include respond-to("extraSmall") {
  .about {
    .performance--container > div {
      width: 90vw;
      margin-bottom: 5rem;
    }

    .profile {
      width: 90%;
    }
    .skills {
      width: 90%;
    }

    .content-space-between {
      justify-content: center;
    }
  }
}

@include respond-to("small") {
  .about {
    .performance--container > div {
      width: 90vw;
      margin-bottom: 5rem;
    }

    .profile {
      width: 90%;
    }
    .skills {
      width: 90%;
    }

    .content-space-between {
      justify-content: center;
    }
  }
}

@include respond-to("medium") {
  .about {
    .performance--container > div {
      width: 50%;
      margin-bottom: 0;
    }

    // .content-space-between {
    //   justify-content: center;
    // }
  }
}

@include respond-to("large") {
  .about {
    .profile {
      width: 45%;
    }
    .skills {
      width: 45%;
    }
    .row {
      flex-wrap: nowrap;
    }
    .content-space-between {
      justify-content: space-between;
    }
  }
}

@include respond-to("extraLarge") {
  .about {
    .row {
      flex-wrap: nowrap;
    }
  }
}
