.home {
  height: 100vh;
  background-image: linear-gradient(
      To Top,
      rgba($colorPrimary, 1),
      rgba($colorPrimary, 0.8)
    ),
    url("../assets/background.png");
  // background-image: url('../assets/background.png');
  background-color: $colorPrimary;
  background-position: right;
  background-size: cover;
  color: $colorTertiary;
}
