.home {
  height: 100vh;
  background-image: url('../assets/background.png');
  background-color: $colorPrimary;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $colorPrimary;
  text-align: left;
  padding-left: 3rem
}
