.home {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/background.png');
  background-color: $colorPrimary;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $colorPrimary;
  text-align: left;
  // padding-left: 5rem;
  box-sizing: border-box;

  .name {
    margin-left: 5rem;

    h1, h2 {
      margin: 0;
    }
  }
}
