@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:300,400,700,900");

.bolder {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.lighter {
  font-weight: 300;
}

.big {
  font-size: 2rem !important;
}


.header {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  @extend .bold;
}

.header--extra {
  font-family: "Raleway", sans-serif;
  font-size: 8rem;
  margin-bottom: 1rem;
  @extend .bolder;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  @extend .bold;
  margin: 1.5rem 0;
}

.sub-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  @extend .normal;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  @extend .lighter;
}

.button--text {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  @extend .lighter;
}

@include respond-to("extraSmall") {
  html {
    font-size: 6px;
  }
}

@include respond-to("small") {
  html {
    font-size: 7px;
  }
}

@include respond-to("medium") {
  html {
    font-size: 8px;
  }
}

@include respond-to("large") {
  html {
    font-size: 9px;
  }
}

@include respond-to("extraLarge") {
  html {
    font-size: 10px;
  }
}
